<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.mapper.AppealMapper">
  <resultMap id="BaseResultMap" type="com.express.domain.Appeal">
    <id column="appeal_id" jdbcType="INTEGER" property="appealId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="appeal_time" jdbcType="VARCHAR" property="appealTime" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="deal_result" jdbcType="VARCHAR" property="dealResult" />
    <result column="deal_time" jdbcType="VARCHAR" property="dealTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    appeal_id, `uid`, appeal_time, order_id, content, deal_result, deal_time
  </sql>
  <select id="selectByExample" parameterType="com.express.domain.AppealExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from appeal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appeal
    where appeal_id = #{appealId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from appeal
    where appeal_id = #{appealId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.express.domain.AppealExample">
    delete from appeal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="appeal_id" keyProperty="appealId" parameterType="com.express.domain.Appeal" useGeneratedKeys="true">
    insert into appeal (`uid`, appeal_time, order_id, 
      content, deal_result, deal_time
      )
    values (#{uid,jdbcType=INTEGER}, #{appealTime,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{dealResult,jdbcType=VARCHAR}, #{dealTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="appeal_id" keyProperty="appealId" parameterType="com.express.domain.Appeal" useGeneratedKeys="true">
    insert into appeal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="appealTime != null">
        appeal_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="dealResult != null">
        deal_result,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="appealTime != null">
        #{appealTime,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="dealResult != null">
        #{dealResult,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.express.domain.AppealExample" resultType="java.lang.Long">
    select count(*) from appeal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update appeal
    <set>
      <if test="record.appealId != null">
        appeal_id = #{record.appealId,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        `uid` = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.appealTime != null">
        appeal_time = #{record.appealTime,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.dealResult != null">
        deal_result = #{record.dealResult,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTime != null">
        deal_time = #{record.dealTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update appeal
    set appeal_id = #{record.appealId,jdbcType=INTEGER},
      `uid` = #{record.uid,jdbcType=INTEGER},
      appeal_time = #{record.appealTime,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      deal_result = #{record.dealResult,jdbcType=VARCHAR},
      deal_time = #{record.dealTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.express.domain.Appeal">
    update appeal
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="appealTime != null">
        appeal_time = #{appealTime,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="dealResult != null">
        deal_result = #{dealResult,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=VARCHAR},
      </if>
    </set>
    where appeal_id = #{appealId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.express.domain.Appeal">
    update appeal
    set `uid` = #{uid,jdbcType=INTEGER},
      appeal_time = #{appealTime,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      deal_result = #{dealResult,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=VARCHAR}
    where appeal_id = #{appealId,jdbcType=INTEGER}
  </update>
</mapper>