<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration里配置的元素都是有顺序的-->
<!--顺序为：(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,databaseIdProvider?,mappers?)-->
<configuration>

    <settings>
        <!--设置mybatis使用log4j日志-->
        <setting name="logImpl" value="LOG4J"/>
        <!--开启mybatis的懒加载（延迟加载）-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--非侵略型懒加载-->
        <setting name="aggressiveLazyLoading" value="true"/>
    </settings>
    <!--为实体类设置别名-->
    <typeAliases>
        <package name="com.express.domain"/>
    </typeAliases>

    <!--加载mapper文件-->
    <mappers>
        <mapper resource="mybatis/mapper/AppealMapper.xml"/>
        <mapper resource="mybatis/mapper/AppealPicMapper.xml"/>
        <mapper resource="mybatis/mapper/DemandMapper.xml"/>
        <mapper resource="mybatis/mapper/DemandOrderMapper.xml"/>
        <mapper resource="mybatis/mapper/FeedbackMapper.xml"/>
        <mapper resource="mybatis/mapper/LogMapper.xml"/>
        <mapper resource="mybatis/mapper/LogOperationMapper.xml"/>
        <mapper resource="mybatis/mapper/ManagerMapper.xml"/>
        <mapper resource="mybatis/mapper/RegisterMapper.xml"/>
        <mapper resource="mybatis/mapper/UserExpressMapper.xml"/>
        <mapper resource="mybatis/mapper/UserLoginMapper.xml"/>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
        <mapper resource="mybatis/mapper/JurisdictionapplicationMapper.xml"/>
        <mapper resource="mybatis/mapper/CommentMapper.xml"/>

    </mappers>

</configuration>
